In [146]:
import json
import pandas as pd
import requests as rq
from datetime import datetime as dt

In [104]:
# See the following for data source
# https://openskynetwork.github.io/opensky-api/rest.html

url = 'https://opensky-network.org/api/states/all'

In [129]:
response = rq.get(url)
data = response.json()
df = pd.json_normalize(data)

In [130]:
df.head(20)

         time                                             states
0  1678342906  [[407a38, NPT902  , United Kingdom, 1678342906...

In [182]:
# Prints out 'pretty' json - will help with normalization
# Commenting out for now as this will print ALL several thousand lines
# print(json.dumps(data, indent=4))

In [142]:
df2 = pd.json_normalize(data, 'states')
df2.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,407a38,NPT902,United Kingdom,1.678343e+09,1678342906,-1.2155,52.1205,4884.42,False,132.75,181.11,0.00,None,4678.68,1252,False,0
1,acdfb1,SIL3967,United States,1.678343e+09,1678342906,-98.9386,33.3855,6103.62,False,132.89,345.43,0.00,None,6301.74,None,False,0
2,ac4963,DAL955,United States,1.678343e+09,1678342906,-121.0855,37.9951,7223.76,False,259.90,82.61,6.50,None,7231.38,3276,False,0
3,aae316,AAL2343,United States,1.678343e+09,1678342906,-114.2095,35.8862,4899.66,False,137.31,11.02,-7.15,None,4960.62,None,False,0
4,acdfa3,ASA1078,United States,1.678343e+09,1678342906,-123.1822,46.7512,8389.62,False,209.43,175.77,7.48,None,8008.62,None,False,0
5,3945e8,,France,1.678343e+09,1678342663,8.6358,42.6634,2011.68,False,91.33,304.67,11.05,None,2019.30,None,False,0
6,851914,JAL3114,Japan,1.678343e+09,1678342905,138.9053,38.2125,12192.00,False,201.00,201.31,0.00,None,12115.80,None,False,0
7,a0e250,AAL2984,United States,1.678343e+09,1678342906,-122.0749,47.3297,3329.94,False,153.24,303.64,-0.33,None,3215.64,None,False,0
8,a1025a,UPS9306,United States,1.678343e+09,1678342902,-69.3876,21.6545,10363.20,False,202.55,308.30,0.65,None,10843.26,None,False,0
9,407a06,EZY62EB,United Kingdom,1.678343e+09,1678342903,-2.2762,53.3604,NaN,True,0.00,5.62,NaN,None,NaN,None,False,0

In [176]:
# Update column names according to OpenSky standardized col names
df2.columns = ['icao24'
              ,'callsign'
              ,'origin_country'
              ,'time_position'
              ,'last_contact'
              ,'longitude'
              ,'latitude'
              ,'baro_altitude'
              ,'on_ground'
              ,'velocity'
              ,'true_track'
              ,'vertical_rate'
              ,'sensors'
              ,'geo_altitude'
              ,'squawk'
              ,'spi'
              ,'position_source'
              ]
df2.head(10)

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,407a38,NPT902,United Kingdom,1.678343e+09,1678342906,-1.2155,52.1205,4884.42,False,132.75,181.11,0.00,None,4678.68,1252,False,0
1,acdfb1,SIL3967,United States,1.678343e+09,1678342906,-98.9386,33.3855,6103.62,False,132.89,345.43,0.00,None,6301.74,None,False,0
2,ac4963,DAL955,United States,1.678343e+09,1678342906,-121.0855,37.9951,7223.76,False,259.90,82.61,6.50,None,7231.38,3276,False,0
3,aae316,AAL2343,United States,1.678343e+09,1678342906,-114.2095,35.8862,4899.66,False,137.31,11.02,-7.15,None,4960.62,None,False,0
4,acdfa3,ASA1078,United States,1.678343e+09,1678342906,-123.1822,46.7512,8389.62,False,209.43,175.77,7.48,None,8008.62,None,False,0
5,3945e8,,France,1.678343e+09,1678342663,8.6358,42.6634,2011.68,False,91.33,304.67,11.05,None,2019.30,None,False,0
6,851914,JAL3114,Japan,1.678343e+09,1678342905,138.9053,38.2125,12192.00,False,201.00,201.31,0.00,None,12115.80,None,False,0
7,a0e250,AAL2984,United States,1.678343e+09,1678342906,-122.0749,47.3297,3329.94,False,153.24,303.64,-0.33,None,3215.64,None,False,0
8,a1025a,UPS9306,United States,1.678343e+09,1678342902,-69.3876,21.6545,10363.20,False,202.55,308.30,0.65,None,10843.26,None,False,0
9,407a06,EZY62EB,United Kingdom,1.678343e+09,1678342903,-2.2762,53.3604,NaN,True,0.00,5.62,NaN,None,NaN,None,False,0

In [177]:
# Make a copy of df2
df3 = df2

# Originally filled in NaN to relieve some issues with transformations
# Went back and left as NaN as nulls are perfectly fine in dataset
# df3 = df2.fillna(-1)

In [174]:
df3.dtypes

icao24              object
callsign            object
origin_country      object
time_position      float64
last_contact         int64
longitude          float64
latitude           float64
baro_altitude      float64
on_ground             bool
velocity           float64
true_track         float64
vertical_rate      float64
sensors             object
geo_altitude       float64
squawk              object
spi                   bool
position_source      int64
dtype: object

In [178]:
# Convert epoch time to datetime
#df3['time_position'].astype('int').astype("datetime64[s]")
df3['time_position'].astype("datetime64[s]")

0      2023-03-09 06:21:46
1      2023-03-09 06:21:46
2      2023-03-09 06:21:46
3      2023-03-09 06:21:46
4      2023-03-09 06:21:46
               ...
4254   2023-03-09 06:21:45
4255   2023-03-09 06:21:46
4256   2023-03-09 06:21:45
4257   2023-03-09 06:21:45
4258   2023-03-09 06:21:45
Name: time_position, Length: 4259, dtype: datetime64[ns]

In [180]:
df3['time_position'] = df3['time_position'].astype("datetime64[s]")
df3['last_contact'] = df3['last_contact'].astype("datetime64[s]")

In [181]:
df3

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,407a38,NPT902,United Kingdom,2023-03-09 06:21:46,2023-03-09 06:21:46,-1.2155,52.1205,4884.42,False,132.75,181.11,0.00,None,4678.68,1252,False,0
1,acdfb1,SIL3967,United States,2023-03-09 06:21:46,2023-03-09 06:21:46,-98.9386,33.3855,6103.62,False,132.89,345.43,0.00,None,6301.74,None,False,0
2,ac4963,DAL955,United States,2023-03-09 06:21:46,2023-03-09 06:21:46,-121.0855,37.9951,7223.76,False,259.90,82.61,6.50,None,7231.38,3276,False,0
3,aae316,AAL2343,United States,2023-03-09 06:21:46,2023-03-09 06:21:46,-114.2095,35.8862,4899.66,False,137.31,11.02,-7.15,None,4960.62,None,False,0
4,acdfa3,ASA1078,United States,2023-03-09 06:21:46,2023-03-09 06:21:46,-123.1822,46.7512,8389.62,False,209.43,175.77,7.48,None,8008.62,None,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4254,4b1916,SWR93,Switzerland,2023-03-09 06:21:45,2023-03-09 06:21:46,-15.7166,28.4940,10972.80,False,264.73,42.40,0.00,None,11445.24,None,False,0
4255,4b1918,SWR33P,Switzerland,2023-03-09 06:21:46,2023-03-09 06:21:46,-88.4751,43.9713,10058.40,False,298.63,63.39,0.00,None,9989.82,2036,False,0
4256,aaa0f3,N784SA,United States,2023-03-09 06:21:45,2023-03-09 06:21:45,-85.6460,38.2021,2042.16,False,58.66,52.13,0.00,None,2072.64,None,False,0
4257,4b1903,SWR135,Switzerland,2023-03-09 06:21:45,2023-03-09 06:21:46,10.0405,47.7400,6743.70,False,174.69,245.10,-11.38,None,6637.02,1000,False,0
4258,a4358d,OUA37,United States,2023-03-09 06:21:45,2023-03-09 06:21:46,-97.4139,35.0987,853.44,False,104.46,181.41,0.98,None,861.06,4620,False,0